
<div class="container-fluid pdt-20">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <!--Sidebar content-->
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
      <p>
        Search by code:
        <input  ng-change="$ctrl.myFunc()" ng-model="$ctrl.querycodeparams"/>
      </p>
    </div>
    <div class="col-sm-12 col-md-10">
      
      <div class="table-responsive country-table">
        <table class="table">
          <tr ng-if="$ctrl.arrayFlag"  ng-repeat="country in $ctrl.countries | filter:$ctrl.query">
            <td>{{ country.name }}</td>
            <td>{{ country.alpha2Code }}</td>
            <td>{{ country.alpha3Code }}</td>
          </tr>
          <tr ng-if="!$ctrl.arrayFlag">
            <td>{{ $ctrl.country.name }}</td>
            <td>{{ $ctrl.country.alpha2Code }}</td>
            <td>{{ $ctrl.country.alpha3Code }}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
